 body{
    display: grid;
    background-color: #D5E1EF;
    margin : 0;
    padding : 0;
    place-items: center;
    height : 100vh;

}
.outer{
    display : grid;
    height: 23rem;
    width : 15rem;
    border-radius : 15px;
    background-color: white;    
}
.inner1{
    display : grid;
    justify-items: center;
}
.inner1 img{
    height: 160px;
    width : auto;
    padding : 16px 16px 16px 16px;
    border-radius: 30px;
    display: block;
    position : relative;
}

.inner2{
    display : grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr; 
    justify-content: center;
    align-items: center;
}
.para{
    display:grid;   
    justify-content: center;
    align-items: center;
    text-align : center;
}
.inner3{
    display:none;
    position :absolute;
    padding: 5rem;
}
.inner1 img:hover + .inner3{
    display: block;
} 